---
import Layout from '../layouts/Layout.astro'
---

<Layout title="About My Books">
  <p>
    I enjoy reading boooks about technology, science, God, history, and more. So here a want to recommend some of my favorite books.
  </p>
</Layout>